<nav class="nav page-section--small">
  <div class="nav__button"><div class="wrapper">&equiv;</div></div>

  <div class="nav__links">
    <div class="wrapper">
      <div class="nav__logo">
        <a href="/">
          <img src="/assets/images/logo-white.png" alt="" />
        </a>
      </div>
      <ul class="nav__links__inner">
        <li class="nav__link <%= active === 0 ? 'nav__link--active' : ''%>">
          <a href="#">Home</a>
        </li>
        <li class="nav__link <%= active === 1 ? 'nav__link--active' : ''%>">
          <a href="#">Conditions we Treat</a>
          <%- include("/sub-menu") %>
        </li>

        <li class="nav__link <%= active === 2 ? 'nav__link--active' : ''%>">
          <a href="/non-surgical-spinal-decompression/"
            >Non-Surgical Spinal Decompression</a
          >
        </li>
        <li class="nav__link <%= active === 3 ? 'nav__link--active' : ''%>">
          <a href="/about">About Us</a>
        </li>
        <li class="nav__link <%= active === 4 ? 'nav__link--active' : ''%>">
          <a href="#">Team</a>
        </li>
        <li class="nav__link <%= active === 5 ? 'nav__link--active' : ''%>">
          <a href="#">Pricing</a>
        </li>
        <li class="nav__link <%= active === 6 ? 'nav__link--active' : ''%>">
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
