---
layout: layout.ejs
active: 5

cards:
  - type: physio
    number_of_treatments: 0
    assessment_type: Initial Assessment
    price: 60
    service_type: Consultation
    duration: 30 Minutes Duration
    treatment_type: follow up treatment advice
    therapy_type: physiotherapy

  - type: physio
    number_of_treatments: 0
    assessment_type: Follow Up Treatment Advice
    price: 60
    service_type: treatment
    duration: 30 Minutes Duration
    treatment_type: follow up treatment
    therapy_type: physiotherapy

  - type: nssd
    number_of_treatments: 1
    assessment_type: Assessment and Treatment
    price: 150
    treatment_type: Non-Surgical Spinal Decompress Treatment
    duration: 55 mins duration

  - type: nssd
    number_of_treatments: 6
    treatment_type: Non-Surgical Spinal Decompress Treatments
    price: 800
    assessment_type: full physical assessment at first appointment with treatment
    duration: each appointment 55 mins in duration
    also_includes:
      treatment 2 to 6 will also include soft tissue mobilisation and exercise
      rehabilitation

  - number_of_treatments: 10
    type: nssd
    treatment_type: Non-Surgical Spinal Decompress Treatments
    price: 1000
    assessment_type: full physical assessment at first appointment with treatment
    duration: each appointment 55 mins in duration
    also_includes:
      treatment 2 to 10 will also include soft tissue mobilisation and
      exercise rehabilitation
---

<main style="text-transform: uppercase">
  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--center headline--light headline--normal">
        Physiotherapy
      </h2>
      <h3 class="headline headline--center">Pricing</h3>
      <div class="rows">
        <% for(const card of cards) { if(card.type === "physio"){ %>
        <div class="price-card" id="<%= cards.indexOf(card) %>">
          <div class="price-card__price"><%= '€'+card.price %></div>
          <div class="price-card__therapy-type"><%= card.therapy_type %></div>
          <div class="price-card__service-type">
            <%= card.assessment_type %>
          </div>

          <ul class="price-card__service-includes">
            <li>Consultation</li>
            <li><%= card.duration %></li>
            <li>follow up treatment advice</li>
          </ul>
          <div class="price-card__button-container">
            <a href="/book-an-appointment/" class="button">Book Now</a>
          </div>
        </div>
        <% }} %>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--center headline--light headline--normal">
        Non-Surgical Spinal Decompression
      </h2>
      <h3 class="headline headline--center">Pricing</h3>
      <div class="rows">
        <% for(const card of cards) { if(card.type === "nssd"){ %>
        <div class="price-card" id="<%= cards.indexOf(card) %>">
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 1rem;
            "
          >
            <div class="price-card__price">€<%= card.price %></div>
            <% if(card.number_of_treatments){ %>
            <div style="font-size: 2rem" class="price-card__qty">
              <%= card.number_of_treatments %> Treatments
            </div>
            <% }%>
          </div>
          <div class="price-card__service-type">
            <%= card.assessment_type %>
          </div>

          <ul class="price-card__service-includes">
            <li><%= card.service_type %></li>
            <li><%= card.duration %></li>
            <li>follow up treatment advice</li>
          </ul>

          <% if(card.also_includes){ %>
          <div style="text-align: center"><%= card.also_includes %></div>
          <% } %>

          <div class="price-card__button-container">
            <a href="/book-an-appointment/" class="button">book now</a>
          </div>
        </div>
        <% }} %>
      </div>
    </div>
  </section>
</main>
<%- include('/reviews-carousel')%> <%- include('/business-details')%>
